*{
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 2rem;
  height: 10vh;
  max-width: 100%;

  background-color:rgb(38, 37, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: antiquewhite;

}
.navright{background-color: rgb(89, 79, 79);
 width: 1rem;
}
.navleft ul {
  width: 200px; 
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

}



.footer {
  background-color: rgb(38, 37, 36);
  height: 11.4vh;
  font-family: monospace;
  color:antiquewhite;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.registercontainer {
  height: 70vh;
  background-color: rgb(137, 137, 137);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.topregister {
  margin-top: 2rem;
}
.bottomregister {
  color: rgb(9, 9, 9);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  width: 300px; /* Adjust width as needed */
  margin: auto; /* Center the form horizontally */
}

.bottomregister label,
.bottomregister input,
.bottomregister button {
  border-radius: 10px;
  margin-bottom: 10px; /* Add some vertical space between items */
}

.bottomregister label {
  font-weight: bold;
}

.bottomregister input {
  padding: 5px;
  width: 100%;
}

.bottomregister button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  cursor: pointer;
}

.bottomregister button:hover {
  background-color: #0056b3; /* Example hover color */
}
